html {
    font-size: 22px;
}

body {
    background-color: black;
    color: white;
}

a {
    color: darkseagreen;
}

a:visited{
    color: aqua;
}

a:hover, a:active {
    color: chartreuse;
}

table,tr,th,td,caption{
    border: 1px solid #eee;
    font-family: 'Courier New', Courier, monospace;
    border-collapse: collapse;
    padding: 0.5rem;
}